<h2>
  Module #1 <br />
  Syntaxis,Vars,Operators,Loops
</h2>

<ul>
  <li>
    <!-- <a href="./pages/modules/module_1/minutes_to_days.html">Minutes to days</a> -->
  </li>

  <li>
    <!-- <a href="./pages/modules/module_1/days_to_minutes.html">Days to minutes</a> -->
  </li>

  <li>
    <!-- <a href="./pages/modules/module_1/while.html">While</a> -->
  </li>

  <li>
    <!-- <a href="./pages/modules/module_1/do.....while.html">Do....while</a> -->
  </li>

  <li>
    <!-- <a href="./pages/modules/module_1/for.html">For</a> -->
  </li>
</ul>
