<h2>
  Module #1 <br />
  Syntaxis,Vars,Operators,Loops
</h2>

<ul>
  <li>
    <button class="button-js-handler min-to-d" type="button">
      Minutes to days
    </button>
    <p class="min-to-d__output"></p>
  </li>

  <li>
    <button class="button-js-handler d-to-min" type="button">
      Days to minutes
    </button>
    <p class="d-to-min__output"></p>
  </li>

  <li>
    <button class="button-js-handler while" type="button">While</button>
    <p class="while__output"></p>
  </li>

  <li>
    <button class="button-js-handler do-while" type="button">
      Do....while
    </button>
  </li>

  <li>
    <button class="button-js-handler for" type="button">For</button>
  </li>
</ul>
