<h2>Module #2 <br />Arrays,Functions</h2>

<ul>
  <li>
    <button class="button-js-handler arrays-methods_1" type="button">
      Arrays Methods Join and Split
    </button>
    <p class="arrays-methods_1__output"></p>
  </li>
  <li>
    <button class="button-js-handler arrays-methods_2" type="button">
      Arrays Methods Push Pop Shift and Unshift
    </button>
  </li>

  <li>
    <button class="button-js-handler For-of" type="button">For of</button>
  </li>
</ul>
<ul>
  <li>
    <button class="button-js-handler functions" type="button">Functions</button>
  </li>
</ul>
