<h2>Module #2 <br />Arrays,Functions</h2>

<ul>
  <li>
    <button class="button-js-handler arrays-base" type="button">Arrays</button>
  </li>
  <!-- <li><a href="./pages/modules/module_2/arrays_base.html">Arrays</a></li> -->
  <li>
    <button class="button-js-handler arrays-methods_1" type="button">
      Arrays Methods Join and Split
    </button>

    <!-- <a href="./pages/modules/module_2/arrays_methods_1.html">Arrays Methods Join and Split -->
    <!-- </a> -->
  </li>
  <li>
    <button class="button-js-handler arrays-methods_2" type="button">
      Arrays Methods Push Pop Shift and Unshift
    </button>

    <!-- <a href="./pages/modules/module_2/arrays_methods_2.html">Arrays Methods Push Pop Shift and Unshift -->
    <!-- </a> -->
  </li>

  <li>
    <button class="button-js-handler For-of" type="button">For of</button>
  </li>
  <!-- <li><a href="./pages/modules/module_2/for_of.html">For of</a></li> -->
</ul>
<ul>
  <li>
    <button class="button-js-handler functions" type="button">Functions</button>
  </li>
  <!-- <li><a href="./pages/modules/module_2/functions.html">Functions</a></li> -->
</ul>
