<h2>Module #3 <br />Objects</h2>

<ul>
  <li>
    <button class="button-js-handler oblects-base" type="button">
      Objects base
    </button>
  </li>
  <li>
    <button class="button-js-handler objects-methods" type="button">
      Objects methods and this
    </button>
  </li>
  <li>
    <button class="button-js-handler rest-spred" type="button">
      Rest and Spread
    </button>
  </li>
  <li>
    <button class="button-js-handler destruction" type="button">
      Destruction
    </button>
  </li>
  <li>
    <button class="button-js-handler shop" type="button">Shop</button>
  </li>
</ul>
