<h2>
  Module #4 <br />
  Callback, Arrow Functions,Filter array methods
</h2>

<ul class="callback__list">
  <!-- <li><a href="./pages/modules/module_4/callbacks.html">Callbacks</a></li>
      <li><a href="./pages/modules/module_4/absraction.html">Absraction</a></li>
      <li><a href="./pages/modules/module_4/forEach.html">forEach</a></li>
      <li><a href="./pages/modules/module_4/Arrows.html">Arrows</a></li> -->
</ul>
<ul>
  <!-- <li>
        <a href="./pages/modules/module_4/fam.html">Filter array methods</a>
      </li>
      <li><a href="./pages/modules/module_4/filter.html">Filter</a></li>
      <li><a href="./pages/modules/module_4/Finds.html">Finds</a></li>
      <li><a href="./pages/modules/module_4/Every_some.html">Every some</a></li>
      <li><a href="./pages/modules/module_4/Reduce.html">Reduce</a></li> -->
</ul>
