<h2>
  Module #4 <br />
  Callback, Arrow Functions,Filter array methods
</h2>

<ul class="callback__list">
  <li>
    <button class="button-js-handler callbacks" type="button">Callbacks</button>
  </li>
  <li>
    <button class="button-js-handler absraction" type="button">
      Absraction
    </button>
  </li>

  <li>
    <button class="button-js-handler forEach" type="button">forEach</button>
  </li>
  <li>
    <button class="button-js-handler arrows" type="button">Arrows</button>
  </li>
</ul>
<ul>
  <li>
    <button class="button-js-handler fam" type="button">
      Filter array methods
    </button>
  </li>
  <li>
    <button class="button-js-handler filter" type="button">Filter</button>
  </li>

  <li>
    <button class="button-js-handler finds" type="button">Finds</button>
  </li>
  <li>
    <button class="button-js-handler every-some" type="button">
      Every some
    </button>
  </li>
  <li>
    <button class="button-js-handler reduce" type="button">Reduce</button>
  </li>
</ul>
