<h2>Module #5 <br />This, Objects and fucntion methods,Proto,Clases</h2>

<ul>
  <!-- <li><a href="./pages/modules/module_5/this.html">This</a></li>
      <li><a href="./pages/modules/module_5/call.html">Call</a></li>
      <li><a href="./pages/modules/module_5/apply.html">Apply</a></li>
      <li><a href="./pages/modules/module_5/bind.html">Bind</a></li>
    </ul>
    <ul>
      <li><a href="./pages/modules/module_5/clases.html">Clases</a></li>
      <li><a href="./pages/modules/module_5/proto.html">Prototypes</a></li> -->
</ul>
