<h2>
  Module #6 <br />
  DOM,BOM,Events
</h2>

<ul>
  <!-- <li><a href="./pages/modules/module_6/DOM.html">DOM</a></li>
      <li>
        <a href="./pages/modules/module_6/create_el.html"
          >Creating and remowing elements,style attribute</a
        >
      </li>
      <li><a href="./pages/modules/module_6/attributes.html">Attributes</a></li>
      <li><a href="./pages/modules/module_6/innerHtml.html">InnerHtml</a></li>
    </ul>
    <ul>
      <li><a href="./pages/modules/module_6/events.html">Events</a></li>
      <li>
        <a href="./pages/modules/module_6/eventsOfForm.html">Events of form</a>
      </li> -->
</ul>
