<h2>
  Module #6 <br />
  DOM,BOM,Events
</h2>

<ul>
  <li>
    <button class="button-js-handler DOM" type="button">DOM</button>
  </li>
  <li>
    <button class="button-js-handler create-el" type="button">
      Creating and remowing elements,style attribute
    </button>
  </li>
  <li>
    <button class="button-js-handler attributes" type="button">
      Attributes
    </button>
  </li>
  <li>
    <button class="button-js-handler innerHtml" type="button">InnerHtml</button>
  </li>
</ul>
<ul>
  <li>
    <button class="button-js-handler events" type="button">Events</button>
  </li>
  <li>
    <button class="button-js-handler eventsOfForm" type="button">
      Events of form
    </button>
  </li>
</ul>
